<section class="search">
  <input type="hidden" id="search__path" value="{{getUrl '/' }}" />
  <input type="search" id="search__input" class="search__input" placeholder="Search" />

  <ul class="search__results">
  </ul>
</section>
