{{!--
  Graaff
  List layout
--}}
{{>site-header}}
{{>page-header}}
{{>navigation}}
<div class="wrapper">
  <div class="container">
    <main class="main">
{{>body}}
{{#if list}}
{{#getPosts
  post
  filter='{
    "section": "{list.section}",
    "category": "{list.category}"
  }'
  sort='{
    "field": "{list.sort}",
    "order": "{list.sortOrder}"
  }'
  page='{
    "start": "{list.start}",
    "length": "{list.length}"
  }'
}}
{{>content-block}}
{{/getPosts}}
{{/if}}
    </main>
{{#unless hideSidebar}}
{{>sidebar}}
{{/unless}}
  </div>
</div>
{{>site-footer}}
