// Graff
// 
// Social Network colors
// 
// Author: Andi Smith
// - Twitter: @andismith
// - URL: http://www.andismith.com/

$contact-color: #45cb8a;
$facebook-color: #3b5998;
$github-color: #333;
$google-plus-color: #db4c3f;
$instagram-color: #ac5524;
$lanyrd-color: #3c80ca;
$linked-in-color: #4284df;
$reddit-color: #666;
$rss-color: #ff6b17;
$stumble-upon-color: #ea3135;
$twitter-color: #4aade8;
