// Graff
// Site Variables

// main colors
$primary-color: #2697f7;
$secondary-color: #999;

// text colors
$text-color: #4b4b4b;
$invert-text-color: #fff;

// background colors
$background-color: #f6f2e9;
$page-background-color: #fff;

// color for errors
$error-color: #f00;

// breakpoints
$breakpoint-narrow: 480px;
$breakpoint-wide: 760px;
$breakpoint-extra-wide: 1000px;

// spacing, widths
$spacing: 24px;
$max-width: 1280px;

// fonts
$header-font-family: 'helvetica', 'arial', sans-serif;
$text-font-family: 'open sans', 'helvetica', sans-serif;
$code-font-family: 'courier', sans-serif;
