// Graff
// 
// Site navigation

.navigation {
  background-color: $secondary-color;
  border-bottom: solid $spacing/4 $primary-color;

  ul {
    border-bottom: solid 1px $page-background-color;
    border-top: solid 1px $page-background-color;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
  }

  li {
    border-right: solid 1px $page-background-color;
    float: left;
    padding: 0;
  }

  a {
    color: $invert-text-color;
    display: block;
    padding: $spacing/2 $spacing;

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }
}
